<h2 class="indigo-text darken-3">Edit <%= @sign.astrological_zodiac_sign %></h2>

<form action="/signs/<%= @sign.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="input-field">
    <input id="astrological_zodiac_sign" name="sign[astrological_zodiac_sign]" type="text" class="validate" value="<%= @sign.astrological_zodiac_sign %>">
    <label for="astrological_zodiac_sign">astrological_zodiac_sign</label>
  </div>
  <div class="input-field">
    <input type="text" class="datepicker" name="sign[birth_date]" id="birth_date" value="<%= @sign.birth_date %>">
    <label for="birth_date">Birth Date</label>
  </div>
  <div class="input-field">
    <input id="chinese_zodiac_sign" name="sign[chinese_zodiac_sign]" type="text" class="validate" value="<%= @sign.chinese_zodiac_sign %>">
    <label for="chinese_zodiac_sign">chinese_zodiac_sign</label>
  </div>

  <input type="submit" value="Update Sign" class="btn indigo darken-3">
</form>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>